<nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">Welcome</a>
    </nav>
    <br>
    <div class="container">
        <form #myform = "ngForm" (ngSubmit) = "onSubmit(myform)" novalidate>
            <div class="form-row align-items-center">
                <div class="form-group col-auto">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control mb-2" name="firstName" #firstName="ngModel" ngModel placeholder="Enter First Name" required 
                    >
                </div>
                <div class="form-group col-auto">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control mb-2" name="lastName" ngModel #lastName="ngModel" placeholder="Enter Last Name" required 
                    >
                </div>
            </div>
            <button type="submit" class="btn btn-warning mb-2">Submit</button>
        </form>
        <div class="result">
            <table class="table table-dark" *ngIf="tableData.length!==0">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of tableData; let i = index">
                        <td>{{row.firstName}}</td>
                        <td>{{row.lastName}}</td>
                        <td>
                          <button type="button" class="close" aria-label="Close" (click)="remove(i)">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>